name: .NET Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore "Mentor-Student Platform.sln"

    - name: Build
      run: dotnet build "Mentor-Student Platform.sln" --no-restore --configuration Release

    - name: Run Tests
      run: dotnet test "Mentor-Student Platform.sln" --no-build --configuration Release --verbosity normal

    - name: Test Docker Build
      run: docker build . -f MentorStudent.Api/Dockerfile -t mentor-student-api-test
